@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400i');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(136, 168, 133);
}

#wrapper {
    width: 960px;
    background-color: rgb(59, 60, 61);
    margin: 0 auto;
    margin-top: -64px;
    border-left: 4px solid rgb(234, 29, 144);
    border-right: 4px solid rgb(234, 29, 144);
    overflow-x: hidden;
}

@font-face {
    font-family: "metropolis";
    src: url("../fonts/Metropolis1920.woff") format('woff');
}

@font-face {
    font-family: "cabin";
    src: url("../fonts/cabin-bold-webfont.woff") format('woff');
}

h1,
h2,
footer {
    color: rgb(234, 29, 144);
}

header {
    background-color: rgb(228, 227, 209);
    padding-top: 0px;
    padding-bottom: 0px;
}

header::before{
    content: "";
    background:url('../img/ornament.png');
    width: 28px;
    height: 126px;
    display: inline-block;
    position:relative;
    left: 10px;
    top:73px;
    line-height: 0;
}
header::after{ 
    content: "";
    background:url('../img/ornament.png');
    width: 28px;
    height: 126px;
    display: block;
    position:relative;
    right: -910px;
    top:-205px;
    transform: scaleX(-1);
}


/* ART DECO LOGO */

h1 {
    font-family: metropolis;
    font-size: 92px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
}


h2 {
    font-family: cabin;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    position: relative;
    left: -5px;
    top: -17px;
}

/* wallpapers */

h2:nth-of-type(1) {
    color: black;
}

h2:nth-of-type(1)::after {
    content: "⋆⋆⋆";
    position: relative;
    font-size: 30px;
}

h2:nth-of-type(1)::before {
    content: "⋆⋆⋆";
    position: relative;
    font-size: 30px;
}

/* intro */

h2:nth-child(1) {
    color: rgb(234, 29, 144);
    position: relative;
    left: -6px;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 25px;
}

h2:nth-child(1):before,
h2:nth-child(1):after {
    content: "";
}

nav {
    text-align: center;
    position: relative;
    left: -5px;
    top: -17px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-family: 'EB Garamond', serif;
    color: rgb(101, 128, 47);
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding-left: 32px;
    padding-right: 32px;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2) {
    border-right: 2px solid black;
}

/* main content */

#mainContent {
    padding-top: 0px;
    position: relative;
    z-index: 1;
}

#intro {
    width: 100%;
    position: relative;
    z-index: 1;
}
#intro::before{
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 475px 28px 475px;
    /*#3c3c3c*/
    border-color: transparent transparent rgb(234, 29, 144) transparent;
    position: relative;
    z-index: 1;
    top: -86px;
    left: 0px;
    display:block;
    transform: scale(1.5,1.5);
}


#intro::after{
    content: " ";
    border-style: solid;
    border-width: 0 475px 28px 475px;
    border-color: transparent transparent #3c3c3c transparent;
    position: relative;
    z-index: 1;
    top: -620px;
    left: 0px;  
}

article {
    column-count: 2;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    height: 450px;
    column-gap: 10px;
    font-size: 18px;
}

/* patch ugly */

article:after{
    content: " ";
    position: absolute;
    display: block;
    z-index: 3;
    top: -61px;
    left: 0px; 
    width: 960px;
    height: 75px;
    background-color: #3c3c3c;

}

article p {
    color: white;
    width: 100%;
    text-align: justify;
    padding: 20px;
    padding-top: 0;

}

article p:nth-child(1) {
    font-style: oblique;
    font-weight: 200;
    font-size: 28px;
    text-align: left;
}

/* stock section */

#stock {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - (52px*3));
    margin: auto;
}

#stock > h2 {
    padding-bottom: 60px;
    /*
    https://css-tricks.com/forums/topic/flexbox-skip-first-item/ 
    */
    flex: 0 0 100%;
}

.stockItem {
    width: 30.0%;
    height: 230px;
    margin-bottom: 40px;
    box-shadow: 0 1px 11px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: 1px solid #b4a036;
}

.stockItem:hover {
    cursor: pointer;
}

.stockItem:hover > p {
    top: -70px;
}

img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.stockItem > p {
    color: #ad9611;
    text-align: center;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0px;
    transition: 0.3s;
}

/* sale icons */

.stockItem4::after,
.stockItem8::after {
    content: "SALE";
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: bolder;
    width: 78px;
    height: 78px;
    color: white;
    border: 2px solid white;
    display: table-cell;
    /* to center text vertically */
    text-align: center;
    background-color: rgb(234, 29, 144);
    position: relative;
    top: -372px;
    right: -148px;
    vertical-align: middle;
}

.stockItem4::before,
.stockItem8::before {
    content: "";
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
    top: 10px;
    right: -152px;
    border: 2px solid white;
    z-index: 2;
}

.stockItem4 img,
.stockItem8 img {
    position: relative;
    top: -81px;
}

.stockItem4 > p,
.stockItem8 > p {
    top: -81px;
}

.stockItem4:hover > p,
.stockItem8:hover > p {
    top: -148px;
}

/* footer */

footer {
    padding-top: 120px;
    text-align: center;
    font-size: 19px;
    padding-bottom: 6px;
}

/*newsletter*/

#newsletter {
    background-color: rgb(60,146,81);
    width: 230px;
    position: fixed;
    left: -231px;
    top: 120px;
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    transition: all .5s;
}
#newsletter h2{
    color: white;
    padding-top: 0px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 5px;
    margin-top: -70px;
}
#newsletter h2::after,
#newsletter h2::before{
    content:"";
}
#newsletter form{
    padding-top: 30px;
    display: block;
}
#newsletter label{
    color: white;
    display: block;
    font-style: italic;
}
#newsletter label:first-letter{
  text-transform: uppercase;
}
#newsletter input[type=text]{
  width: 100%;
  margin-bottom: 15px;
}
#newsletter input[type=submit]{
    width: 33%;
    padding: 5px;
    background: rgb(234, 29, 144);
    border:0 none;
    cursor:pointer;
    font-family: serif;
    color: white;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 40px;
}

/* newsbutton left */

#newsbutton{
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    font-weight: 200;
    width: 132px;
    padding: 10px;
    position: relative;
    left: 200px;
    top: -37px;
    transition: all .5s;
}
#newsbutton::after {
    content: "";
    color: white;
    border: 2px solid white;
    display: table-cell;
    background-color: rgb(234, 29, 144);
    position: relative;
    top: -32px;
    right: 0px;
    vertical-align: middle;
    width: 132px;
    height: 36px;
    z-index: -1;
}
#newsbutton::before {
    content: "";
    width: 100px;
    height: 28px;
    position: relative;
    display: inline-block;
    top: 31px;
    right: 0px;
    border: 2px solid white;
    z-index: 2;
    transition: all .5s;
}

/* 

#newsbutton => width: 60px;

#newsbutton::before => width: 28px;

#newsbutton => left: -231px;

*/