* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

#container {
    text-align: center;
    max-width: 1140px;
    width: 100vw;

}

@font-face {
    font-family: 'FontleroyBrown';
    src: url('fonts/FontleroyBrown.woff2') format('woff2'),
    url('fonts/FontleroyBrown.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'FontleroyBrown';
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    text-align: left;
    padding-left: 15px;
    background-color: rgb(240, 240, 240);
}

nav,
main {
    margin-left: 20px;
    margin-right: 20px;
    /*width: 90vw;*/
}

main {
    display: flex;
    flex-direction: column;
}

nav ul li {
    /*width: 100%;*/
    font-family: 'FontleroyBrown';
    font-weight: normal;
    font-style: normal;
    font-size: 42px;
    text-align: left;
    color: white;
    margin-left: 20px;
    list-style: none;
    cursor: pointer;
    background: linear-gradient(rgb(23, 87, 153), rgb(27, 136, 207));
    padding-left: 20px;
    margin: 3px;
    box-shadow: 0px 1px 0 0 rgba(5, 17, 56, 0.8);
}

nav ul li:hover {
    background: linear-gradient(rgb(27, 53, 78), rgb(81, 127, 157));
    color: #f7f7b1;
}

/**/

main #oh_yeah,
#mijn_links {
    /*width: 90%;*/
    margin-top: 30px;
    /*width: 100vw;*/
    font-family: Arial, sans-serif;
    text-align: justify;
    width: 100%;
}

main #mijn_links ul li {
    list-style: none;

    background-color: rgb(35, 157, 243);
    text-align: left;
    /*width:90vw;*/
    cursor: pointer;
    margin: 3px;
    padding: 3px;
    box-shadow: 0px 1px 0 0 rgba(5, 17, 56, 0.8);
}

main #mijn_links ul li:hover {
    background-color: rgb(19, 98, 155);
    box-shadow: 0px 1px 0 0 rgba(5, 17, 56, 0.8);
}

main #mijn_links ul li a {
    color: white;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

/**/

footer {
    background-color: rgb(0, 255, 254);
    height: 6vh;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}

@media (min-width: 768px) {

    h1{padding-top:20px;}
    #sort {
        display: flex;
    }
    #oh_yeah p{
        text-align:left;
    }
    nav ul li {
        background: white;
        color: black;
        font-size: 44px;
        width: 25%;
        text-align: center;
        height: 256px;
        box-shadow: 0 0 0 0 rgba(5, 17, 56, 0.8);
    }
    nav ul li:nth-of-type(1) {
        background-image: url(../img/stratocastor_guitar_ska.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    nav ul li:nth-of-type(2) {
        background-image: url(../img/stratocastor_guitar_orange.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    nav ul li:nth-of-type(3) {
        background-image: url(../img/stratocastor_guitar_white.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    nav ul li:nth-of-type(4) {
        background-image: url(../img/stratocastor_guitar_blue.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    nav ul li:hover {
        text-shadow: 1px 1px 2px #767274;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    #oh_yeah{
       width: 60vw;
    }
    #oh_yeah p{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }
    #mijn_links{
        margin-top: 60px;
        width: 40vw;
        display: block;
    }
    #mijn_links ul li{
        background-color: red;    
    }

}